**__pycache__**
**.vscode**
kaggle
kaggle_auth
.idea
.vs
examples/augumented
notebooks/experimental/brudnopis.ipynb
notebooks/old_trainings/pytorch_tests.ipynb
yolo_labels
images
datasets
labels
runs
bloat/best (1).pt
bloat/best(1).pt
bloat/debug_file.py
bloat/EDA_preprocessing_training.ipynb
bloat/repair.ipynb
bloat/yolo11n.pt
examples/output/image_0000005.jpg
notebooks/kaggle_2.ipynb
notebooks/experimental/brudnopis2.ipynb
notebooks/experimental/codebrim_balanced_utils.py
notebooks/experimental/codebrim_balanced2.ipynb
notebooks/experimental/codebrim_balanced2.py
notebooks/experimental/correlation_matrix.png
notebooks/experimental/inference.ipynb
notebooks/experimental/train
